.home_main_container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 85%;
  margin: 56px auto;
}

@media screen and (max-width: 992px) {
  .home_main_container {
    max-width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .home_main_container {
    flex-wrap: wrap;
  }
}